@charset "utf-8";
/* CSS Document */

body{
    background-color:#18191A;
    margin:0px;
    padding:0px;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
}

html{
    scroll-behavior: smooth;
}

#home{
    width:100%;
    height:75vh;
    /* background-image: url("images");*/
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 80px;
    background-color:#242526;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
}

nav ul{
    display:flex;
}

.toggle{
    position: absolute;
    display:none;
}

nav ul li a{
    margin: 30px;
    font-family:sans-serif;
    color: #E4E6EB;
    font-size: 20px;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    display: block;
}

.navbar-links li:hover{
    background-color: #3A3B3C;
}

.logo{
    font-family:sans-serif;
    color:#E4E6EB;
    font-size:26px;
    text-transform:uppercase;
    text-align:center;
}

.active{
    font-weight:bold;
    color:#00d8d8;
} 

.text-container p:nth-child(1){
    font-family: sans-serif;
    color: #E4E6EB;
    font-size:20px;
}

.text-container p:nth-child(2){
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing:1px;
    color: #E4E6EB;
    font-size:70px;
    line-height:65px;
}

.text-container p:nth-child(3){
    font-family: sans-serif;
    color: #00d8d8;
    font-size:25px;
    text-transform:uppercase;
    font-weight: bold;
    line-height:25px;
}

.text-container p:nth-child(4){
    font-family: sans-serif;
    color: #B0B3B8;
    font-size:20px;
    line-height:25px;
}

.text-container p{
    line-height:15px;
    margin:35px 0px 25px;
}

.text-container{
    position:absolute;
    left:20%;
    top:22%;
    transform:translate(-20%,22%);
}

.text-container button{
    width:130px;
    height:42px;
    border-radius:10px;
    font-family: sans-serif;
    font-size:14px;
    outline:none;
    border:2px solid;
    font-weight: bold;
    cursor:pointer;
}

.gh-btn{
    background-color:#000000;
    color:#00d8d8;
    margin:0px 30px;
}

.li-btn{
    background-color:#00d8d8;
    color:#000000;
}

button:active{
    transform:scale(1.3);
    transition:0.2s;
}

.projects-container{
    position:absolute;
    right:25%;
    top:35%;
    transform:translate(-35%,25%);
}

.pTitle{
    font-family:sans-serif;
    font-weight:bold;
    color:#E4E6EB;
    font-size:30px;
    line-height:0px;
}

.p1, .p2, .p3{
    font-family: sans-serif;
    color: #B0B3B8;
    font-size:20px;
    line-height:25px;
}

.projects-container p{
    line-height:15px;
    margin:35px 0px 25px;
}

.about-container{
    width:90%;
    height:500px;
    background-color:#242526;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    border-radius:55px;
    display: flex;
    margin:15% auto;
    position: relative;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:row; 
}

.about-container img{
    height:450px;
    position:relative;
    margin-left:7%
}

.about-text{
    margin-right:7%;
    padding: 40px 0px 40px 0px;
    width:450px;
}

.about-text p:nth-child(1){
    color:#00d8d8;
    font-family:sans-serif;
    font-size:16px;
    line-height:10px;
    font-weight:bold;
}

.about-text p:nth-child(2){
    color:#E4E6EB;
    font-family:sans-serif;
    font-weight:bold;
    font-size:23px;
    line-height:15px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color:#B0B3B8;
    font-family:sans-serif;
    font-size:16px;
}

.skills{
    height:800px;
    background-color:#242526;
    padding:2% 10% 0px 10%;
    justify-content:space-evenly;
}

.skills-text{
    margin:50px 0px;
    text-align:center;
}


.skills-text p:nth-child(1){
    font-family:sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#00d8d8;
}

.skills-text p:nth-child(2){
    font-family:sans-serif;
    font-weight:bold;
    color:#E4E6EB;
    font-size:30px;
    line-height:0px;
}

.skill-1, .skill-2, .skill-3, .skill-4, .skill-5{
    width:240px;
    height:240px;
    background-repeat:no-repeat;
    background-size:cover;
    box-shadow:4px 4px 12px rgba(0,0,0,0.4);
    background-color:#3A3B3C;
    display:flex;
    align-items:top;
    flex-direction:column;
    border-radius:10px;
    margin:auto;
}

.skill-1:hover, .skill-2:hover, .skill-3:hover, .skill-4:hover, .skill-5:hover{
    background-color:#00d8d8;
}

.skill-1:hover p, .skill-2:hover p, .skill-3:hover p, .skill-4:hover p, .skill-5:hover p{
    color:black;
}

.skill-header, .skill-header-4{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.skill-header img{
    margin:20px 10px 20px 0px;
}

.skill-header-4 img{
    margin:30px 7px 20px 0px;

}

.skills-container-1, .skills-container-2{
    display:flex;
    padding:2% 10% 0px 10%;
    justify-content:space-between;
}

.skill-header p{
    color:#E4E6EB;
    font-family:sans-serif;
    font-size:30px;
    font-weight: bold;
    line-height:0px;
    margin:45px 0px 0px 10px;
}

.skill-header-4 p{
    color:#E4E6EB;
    font-family:sans-serif;
    font-size:18px;
    font-weight: bold;
    line-height:25px;
    margin:23px 0px 0px 7px;
    text-align:center;

}

.skill-details{
    font-family:sans-serif;
    text-align:left;
    font-size:15px;
    width:220px;
    margin:10px 10px 10px 10px;
    color:#B0B3B8;
}

.contact{
    width: 100%;
    height:180px;
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.contact p{
    color:#E4E6EB;
    font-size:30px;
    font-family:sans-serif;
    font-weight:bold;
    padding-top: 60px;
}

.social-contact a{
    display: flex;
    flex-direction: row;
}

.icon-1, .icon-2, .icon-3{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    color:#E4E6EB;
    font-size:20px;
    margin-left: auto;
    margin-right: auto;
    width:50px;
    height:50px;
}
.c1, .c2, .c3{
    font-family: sans-serif;
    color: #B0B3B8;
    font-size:20px;
    line-height:25px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.c3{
    padding-bottom: 60px;
}

footer{
    height:100px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
}

footer p{
    font-family:sans-serif;

}

footer p:nth-child(1){
    font-weight:bold;
    color:grey;
    line-height:10px;
}

.copyright{
    color:#565555;
    font-size:15px;
    position:relative;
    justify-content:center;
    align-items:center;
    margin-top:60px;
    padding-bottom:20px;
}

@media(max-width:1400px){
    .projects-container{
        right:1%;
        top:45%;
        transform:translate(-45%,1%);
    }
    .skills-container-1, .skills-container-2{
        justify-content:center;
    }
    .skills{
        padding: 2%;
    }
}

@media(max-width:1000px){
    *{
        box-sizing:border-box;
    }
    .text-container button{
        margin:5px;
    }
    .about-container{
        width:90%;
        height:auto;
    }
    .about-container img{
        margin:30px;
        height:400px;
        width:auto;
    }
    .about-text{
        width:auto;
    }
    .skills{
        padding: 2%;
        margin-top:10px;
        flex-grow:0;
        height: auto;
    }
    .skills-container-1, .skills-container-2{
        justify-content:center;
        flex-wrap:wrap;
    }
    .skill-1, .skill-2, .skill-3, .skill-4, .skill-5{
        margin:20px;
    }
}

@media(max-width:750px){
    section{
        background-color:#18191A;
    }
    .toggle{
        display:block;
    }
    .toggle:before{
        content:'\f0c9';
        font-family:fontAwesome;
        line-height:30px;
    }
    .toggle.active:before{
        content:'\f00d';
        position:fixed;
        right:25px;
        line-height:0px;
    }
    .text-container{
        left:50;
        width:80%;
    }
    .text-container p:nth-child(3){
        line-height:40px;
    }
    .projects-container{
        margin-top:560px;
        padding-bottom:200px;
        left:20%;
        top:22%;
        transform:translate(-20%,22%);
    }
    nav{
        padding: 10px 30px;
    }
    nav ul{
        margin:0px;
        padding:0px;
        background-color:#242526;
        flex-direction:column;
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:auto;
        box-sizing:border-box;
        display:flex;
        justify-content:center;
        align-items:center;
        transition: 0.5s;
        z-index:1;
    }
    nav ul li{
        padding:10px;
    }
    nav ul li a{
        font-family:sans-serif;
        margin: 5px;
        font-size:1.4em;
        color:#E4E6EB;
    }
    nav.active ul{
        display:flex !important;
    }
    .about-container{
        top:0%;
        width:90%;
        flex-direction:column;
        margin-top:90%;
        height:auto;
        padding:30px 0px;
        align-items:center;
        position:relative;
    }
    .about-container img{
        margin:30px;
        height:250px;
        width:auto;
    }
    .about-text{
        width:90%;
        text-align:center;
        margin-left:7%;
    }
    .skills-text{
        width:100%;
    }
    footer p:nth-child(2){
        width:90%;
    }
    .social-icons{
        flex-direction: column;
    }
    .social-icons a{
        left:200%;
        transform:translate(200%);
    }
}

@media(max-width:500px){
    .text-container p:nth-child(1){
        padding-top: 10px;
    }
    .text-container p:nth-child(2){
        font-family: sans-serif;
        font-weight: bold;
        letter-spacing:1px;
        color: #E4E6EB;
        font-size:50px;
        line-height:65px;
    }
    .about-container{
        margin-top:140%;
    }.c1, .c2, .c3{
        font-size:15px;
    }
}
@media(max-height:750px){
    .about-container{
        margin-top:40%;
    }
}

@media(max-height:640px){
    .projects-container{
        margin-top:100px;
    }
    .about-container{
        margin-top:140%;
    }
}